*/.iml
/.idea
*/.gradle
AndroidUdemy/.idea/
*/local.properties
UdemyReadingApp/.idea/
JetNote/.idea
*/.idea/caches
*/.idea/libraries
*/.idea/modules.xml
*/.idea/workspace.xml
*/.idea/navEditor.xml
*/.idea/assetWizardSettings.xml
*/.DS_Store
*/build
*/captures
*/.externalNativeBuild
*/.cxx
*/local.properties
